* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  margin-bottom: 50px;
  height: 100%;
  min-width: 320px;
}

header {
  margin-bottom: 20px;
  padding-top: 1px;
  padding-bottom: 25px;
}

header p {
  font-family: 'Oswald', sans-serif;
  font-size: 25.5px;
  font-weight: 300;
  color: rgba(0, 174, 239, 1);
  margin-top: 14px;
}

.top-row {
  padding-left: 1.04166666%;
}

main {
  /* width: 90%; */
  margin: 0 auto;
}

section {
  margin-bottom: 20px;
}

h1 {
  padding-top: 15px;
  margin-top: 0;
  margin-bottom: 0px;
  color: #000000;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 55pt;
  letter-spacing: -.5pt;
}

h2 {
  margin-top: 0;
  margin-bottom: 1px;
  color: rgba(0, 174, 239, 1);
  /* text-shadow: 1px 1px 1px #b60000; */
  font-weight: 700;
  font-size: 1.4em;
  letter-spacing: -.5px;
}

h3 {
  margin-top: 0;
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 1.05em;
  letter-spacing: -.5px;
  /* color: #484848; */
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 200;
  font-size: 1em;
  color: #4c5058;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  color: #000000;
  font-size: 0.9em;
}
ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-inline-start: 20px;
}
li {
  color: #464646;
  margin-bottom: 2px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #A0A0A9;
}

.hr-section {
  margin-top: 0;
  margin-bottom: 5px;
  color: rgba(0, 174, 239, 1);
}

.content {
  width: 100%;
}

.titles {
  /* width: 75%; */
  text-align: left;
  display: inline-block;
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.17em;
}

.lines {
  border-style: inset;
  border-width: 1px;
  margin-top: 25px;
}

.name {
  display: inline-block;
}

.location {
  display: inline-block;
}

.position {
  display: inline-block;
  font-size: .95em;
  font-weight: 400;
}

.tech {
  font-style: italic;
  margin-top: 16px;
}

.position-tech {
  display: inline-block;
  font-size: 1.05em;
  font-weight: 600;
  color:  #000000;
}

.about {
  padding-top: 6px;
}

.dates {
  /* width: 25%; */
  /* text-align: right;
  display: inline-block; */
  font-weight: 400;
  font-size: .9em;
  margin-top: -1px;
  margin-bottom: 11px;
}

.bot-row {
  text-align: center;
  border-radius: 45px;
  /* padding-bottom: 6px; */
  padding-top: 5px;
  /* margin-left: 50%; */
  /* margin-right: 50%; */
  width: 297px;
  /* max-width: 95%; */
  /* margin-top: 10px; */
  margin: 0px auto;
  border: 2px solid #bbbbbb;
}

.fa {
  text-align: center;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

.fa-3x {
  font-size: 2.8em !important;
}

.envelope {
  color: rgba(0, 174, 239, 1);
}

.fa-linkedin {
  padding-bottom: 6px;
}

a:hover > .fa {
  color: #A0A0A9;
  cursor: pointer;
}

.linkedin {
  color: rgba(0, 174, 239, 1);
}

.github, .gh {
  color: rgb(123, 239, 132);
}

.phone, .dt {
  color: #656565;
}

.briefcase {
  color: #60748F;
}

.angellist {
  color: #FF7F50; 
}

.gh, .dt {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  text-align: left;
}

.research {
  font-size: 14px;
}

/* CSS GRID =============================== */
.row {
  max-width: 1100px;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.col-3, .col-4, .col-6, .col-12 {
  float: left;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 20px;
}
.col-6 {
  width: 50%;
}
.col-12 {
  width: 100%;
}
.no-margin {
  margin: 0px;
}
.no-padding {
  padding-left: 0%;
  padding-right: 0%;
}

/* SITE-WIDE VIEWPORT RESPONSE ========================== */
@media only screen and (max-width: 640px){
  /*for-small-phone-portrait-only*/
  .col-6 {
    width: 100%;
  }
}
